---
import Container from "@components/container.astro";
import Footer from "@components/footer.astro";
import News from "@components/news.astro";
import Layout from "@layouts/Layout.astro";
import Card from '../components/Card.astro';
import Card_nolink from '../components/Card_nolink.astro';
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Robert Izzard's homepage">
  <Container>
      <main>
          <h1>
             Robert Izzard's homepage
          </h1>
          <p>
              <ul>
                  <li><a href="writing/">Scientific Writing</a></li>
                  <li><a href="https://www.surrey.ac.uk/people/robert-izzard">Surrey profile page</a></li>
                  <li><a href="https://r-izzard.surrey.ac.uk/">Work page</a></li>
                  <li><a href="https://gitlab.com/rob.izzard">Code on Gitlab</a></li> 
              </ul>
          </p>
          <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">

              Filler ...<br><br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus urna, venenatis id nibh quis, tristique varius lectus. Maecenas sed felis purus. Maecenas egestas ultricies consequat. Praesent rhoncus odio at molestie rutrum. Etiam mattis facilisis enim, vel porttitor lorem maximus nec. Morbi sit amet elit fermentum, ultrices sapien vitae, bibendum sapien. Ut sit amet ex sollicitudin, cursus nulla nec, scelerisque risus. Morbi pharetra ligula et magna ullamcorper, in molestie enim laoreet. Phasellus vitae eleifend purus. In tempus eleifend nibh, a sagittis sapien faucibus vel. Nulla venenatis ullamcorper nunc, a scelerisque diam efficitur a. Fusce finibus fermentum lacus, a lacinia odio faucibus vel. Donec dapibus venenatis nisl, nec feugiat libero egestas quis.

Etiam eget mi nec turpis egestas placerat. Vestibulum sit amet sem ac erat vehicula placerat vitae a lectus. Nullam nec elementum nibh. Nam consequat, erat id posuere consectetur, magna quam porta metus, sed consectetur diam arcu eu libero. Sed consectetur leo a dolor accumsan, sagittis venenatis nulla varius. Aenean hendrerit, ante malesuada dignissim aliquet, felis ante egestas velit, vel varius magna massa ut quam. Integer odio elit, tristique eu vestibulum fermentum, commodo at dolor. Nullam tempus sit amet enim et venenatis. Ut arcu felis, mattis sit amet nulla a, laoreet suscipit purus. Etiam quis risus ullamcorper, volutpat eros ut, cursus libero. Sed placerat dolor sem, ut vestibulum erat euismod eget. Sed eu risus ac elit condimentum hendrerit elementum dapibus metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec fermentum aliquam risus sed elementum. Donec vel semper libero, pellentesque aliquam est. Duis efficitur id est vel suscipit.
              
          </p>
      </main>
  </Container>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
</style>
