---
import { Image } from '@astrojs/image/components';
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---
<Layout title="Scientific Writing Seminars">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Scientific Writing Seminars</Fragment>
            <Fragment slot="desc">
        <br>A short set of seminars introducing students of science to the aims and technique of scientific writing.</Fragment>
        </Sectionhead>
       <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
             <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                 Seminars are typically 30-40 minutes of teaching and discussion, with a short break, followed by group exercises. This structure will be mixed up when appropriate.
             </p>
           </div>

        <a name="introduction">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Welcome and introduction
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    This first seminar welcomes the students, introduces the overall topic and provides an overview of the course, including the course structure. Open with a discussion: what is the point, for the reader, of a scientific article or or scientific writing? We can all write at some level, so what is special about writing academically? Outline the scientific principles.

Writing should be: straightforward, exact, rigorous, clear-headed, concise : these are scientific skills! Writing and thinking are inseparable. We are not teaching literary style – nor are we qualified so to do. It may help to be able to phrase a sentence perfectly, but it is not necessary. "Perfection is the enemy of good" as a way forward. Some examples of imperfect, and what to do about them.
                    </p>
                    <p>
<i>Exercise</i> ask the participants to list the kinds of writing a scientist is required to produce: e.g. dissertations, progress reports, journal papers, conference proceedings, case histories (in medicine), review articles, book reviews, project proposals/grant applications, popular science articles, minutes, (lecture) notes and handouts.
<br>
<i>Exercise</i> questionnaire, student questions and experiences.
                </p>
            </div>
        </a>

        <a name="structure">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Reading and the logical structure of articles
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
Where to find scientific articles, e.g.&#x00A0;for astrophysics arXiv, ADS. How articles are read: non-linear reading,
standard article structure "Abstract, Introduction, Method, Results, Discussion, Conclusions" (and why it is as
it is), know your audience. This is not the order in which we usually write, although it varies
from person to person, and indeed non-scientific articles are often very different in structure.
Examples of different types of writing: press release, newspaper, popular science, journal, dissertation,
book.
                </p>
                <p>
<i>Exercise</i> the titles of articles. We discuss what makes a good, and what makes a bad, title. We then rank a
list of today&#8217;s preprints, and discuss them in the seminar with groups contributing their thoughts on what is good
and what is &#8220;less good&#8221;.
<a 
 id="x1-2001r2"></a>
                </p>
            </div>
        </a>
 
        <a name="abstracts">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Abstracts and the body of an article
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    What are abstracts and why do we need them? What is a good abstract structure? What content goes into an abstract? 
                    </p><p>
<i>Exercise</i> first each person writes a 300-word abstract on a subject of their choice. They then pass this to someone else who should reduce the number of words from 300 to 150, without losing any meaning (if possible!). The group then assesses their long and short abstracts to discuss the pros and cons of long and short abstracts. The group members then suggest a list of keywords to go with your abstract based on the international list of keywords.
                        </p>
                        <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    From sentences to paragraphs: how do we write most of the content in an article. We look at sentences, word choice, paragraphs, whitespace, sections and subsections and subsubsections. What should go in a standard “introduction – method – results – discussion” type article
                    </p><p>
                           <i>Exercises</i> Multiple choice quiz about choosing the best sentences. Write the introduction and conclusion to the article from the previous seminar, then peer review this in groups. 
                </p>
            </div>
        </a>

        <a name="brainstorming">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Before you start: planning, brainstorming, crystallising ideas
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    Recap the main sections in an article: Abstract, Introduction, Method, Results, Discussion, Conclusions (and why it is as it is). Differences in a dissertation. Planning an article. How to brainstorm. Literature searches and how to store the material. The path from raw material to a skeleton article. Paragraphs make your point and only one (overall) point per paragraph. Writer's block: freewriting as a way around, reward yourself. Software: Word or LaTeX or something else?
                </p>
                <p>
                    <i>Exercise</i> brainstorming to outline an article on a subject the students know something about from their previous studies, e.g. quantum mechanics, thermodynamics, Hamiltonian mechanics, etc. Aim the article at first year undergraduate students (i.e. keep the level of technical details to a minimum).
                    </p>
            </div>
        </a>

                    <!--
        <a name="body">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                     The body of an article
                </h2>
            </div>
        </a>
                    -->

        
        <a name="figures">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Figures, tables, equations; concision and precision.
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                  Figures, tables and equations are some of the main communication units in a paper and additionally in scientific talks and poster. Yet, we often see figures that are of such poor quality that they only hinder the narrative of the paper. How can we make great figures such that each really is “worth a thousand words”? How might we caption the figures in a way that is useful to the reader or viewer? How should we refer to figures and their content in our main text and how should we caption figures?
                    </p>
                    <p>
<i>Exercise</i> in groups, make an infographic on a scientific subject of your choice and present it to the other participants.
                   </p>
            </div>
        </a>
   
        <a name="ethics">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Information sources, citations, plagiarism and ethics. The submission process. 
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                  What are the main sources of information and citations in science? How do you cite in a paper? Plagiarism and how to avoid it. The paper submission process.
                    </p>
                    <p>
<i>Exercises</i> what is plagiarism and where do you draw the line? Given a list of citations, can you spot the mistakes and the fakes? Real-life case studies.
                   </p>
            </div>
        </a>

        <a name="english1">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    English and Style 1: From words to sentences to paragraphs, punctuation.
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                  This course is not about how to write in English, but there are some things that, particularly new, writers get wrong and that we can easily address in a scientific-writing context. In this seminar we look at the structure of clauses in sentences, how to construct effective paragraphs, transitions, prepositions (and their misuse), language editors (and their misuse!), and how errors affect readers. We address numbers, punctuation, choice of words especially how to use nouns and verbs with meaning.
                    </p>
                    <p>
<i>Exercises</i> Varying the openings to sentences and being fluid in writing.
                   </p>
            </div>
        </a>


        <a name="english2">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    English and Style 2: Style, jargon, flow and avoiding common mistakes. 
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                  We finish the previous seminar's discussion of nouns and verbs, before we discuss style, cliche, jargon and the flow of text in a paper.
                    </p>
                    <p>
<i>Exercises</i> Try to decipher some common acronyms and identify jargon in example texts. Suggest improvements.
                   </p>
            </div>
        </a>

        <a name="revision">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Revision, criticism, peer review and AI
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                  Revision of a paper is often a length process: so what are good, and bad, ways to do it? What do you, as the writer, have to do before you send it? What must your colleagues do? When should you submit your article? What happens next, and how to deal with success and rejection? 
                    </p><p>
Exercise: assess a colleague's writing, providing detailed feedback.
<p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
What next in scientific writing and writing in general? Already AI is having a major influence, so we look at that and try to predict the future.
</p><p>
Exercise: Use ChatGPT, or similar, to generate text to answer a scientific question, including detailed citations. Repeat the question … do you trust what you see? What is AI currently good for, and what will it be good for in the future?
                    </p>
            </div>
            </a>
            
            <a name="software">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Software for writing
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    We look at the various pieces of software available for writing, and debate their pros and cons. 
                    </p>
            </div>
        </a>

        <a name="reading">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h3 class="font-bold text-3xl text-gray-800">
                    Reading material
                </h3>
                <table><tr>

                           <td width=250>
                              <br>
                     <Image width=250 src={import("../images/Eloquent_Science.jpg")} alt="Eloquent Science book" />
                  </td>

                  <td><p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                        <i>Eloquent Science: A Practical Guide to Becoming a Better Writer, Speaker, and Scientist</i> (Schultz 2010; ISBN 978-1878220912). <a href="https://eloquentscience.com/">This book</a> is written for meteorologists, but most of the principles are equally applicable to scientists of any background. When putting this course together, I read about a dozen books on scientific writing, and started reading a few more. <i>Eloquent Science</i> is the only one I recommend.
                             </p></td></tr></table>

                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                There are, naturally, other books. If you are an astroperson, <i>Scientific Writing for Young Astronomers</i> (EDP Sciences, ed. C. Sterken; Book 2 especially is relevant, ISBN 978-2-7598-0506-8) may appeal. In two volumes, this offering from <a href="https://www.aanda.org/">Astronomy and Astrophysics</a> is based on their lecture course so this is more a proceedings than a guide. The sections on the publishing process and language editing are worth a look.
                </p>

                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    Reference books are important and many are cheaply or freely available online. For example, <i>The Elements of Style</i> (Strunk and White, 2008 edition, ISBN 978-0205632640) can be downloaded at <a href="https://www.gutenberg.org/ebooks/37134">Project Gutenburg</a>.
                </p>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    The classic reference for spelling, use and etymology is the <a href="https://www.oed.com">Oxford English Dictionary</a>. You may also wish to read <a href="https://www.oxfordreference.com/display/10.1093/">Fowler's <i>Guide to Modern English Usage</i></a> which is, in many places, both informative and funny.
                </p>
                    <p>
                        If you are interested in etymology, the origin of words, check of <a href="https://www.etymonline.com/">etymonline.com</a>, one of the most amazing places on the interweb.
                    </p>
                    <p>
                        To get into the modern world, check out <a href="https://chat.openai.com/">ChatGPT</a>.
                    </p>
            </div>
        </a>

    </Container>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
    body {counter-reset:subsection;}
    h1 {counter-reset:subsection;}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
        text-align: center;
	}
    h2:before
    {
        counter-increment:subsection;
        content:counter(subsection) ". ";
    }
	.text-gradient {
		background-image: var(--accent-gradient);
		    -webkit-background-clip: text;
		    -webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
</style>
