---
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
    
];
---

<Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
        <Astronav>
            <div id="parent" style="text-align: center; border-style: solid;">
                <a href="/" class="text-lg">
                   <!-- logo goes here -->
                    <div style="text-align: center; border-style: solid;" class="flex w-full lg:w-auto items-center justify-between">
                        <span class="font-bold text-slate-800">Robert</span>
                        <span class="font-bold text-slate-800">Izzard</span>
                        <div class="block lg:hidden">
                            <MenuIcon class="w-4 h-4 text-gray-800" />
                        </div>
                    </a>
                </div>
            </div>
            <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
                <ul class="flex flex-col lg:flex-row lg:gap-3">
                    {
                        menuitems.map((item, index) => (
                            <>
                                {item.children && (
                                    <Dropdown
                                        title={item.title}
                                        children={item.children}
                                        lastItem={index === menuitems.length - 1}
                                    />
                                )}

                                {!item.children && (
                                    <li>
                                        <a
                                            href={item.path}
                                            class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                                            {item.title}
                                        </a>
                                    </li>
                                )}
                            </>
                        ))
                    }
                </ul>
            </MenuItems>
        </Astronav>
    </header>
</Container>
